<h3>Detail of personel</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">mat</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">mobile</th>
            <th scope="col">email</th>
            <th scope="col">photo</th>
            <th scope="col">adresse</th>
            <th scope="col">fonction</th>
            <th scope="col">direction</th>
            <th scope="col">service</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let personel of personel">
            <th scope="row">{{personel.mat}}</th>
            <td>{{personel.nom}}</td>
            <td>{{personel.prenom}}</td>
            <td>{{personel.mobile}}</td>
            <td>{{personel.mail}}</td>
            <td>{{personel.photo}}</td>
            <td>{{personel.adresse}}</td>
            <td>{{personel.fonName}}</td>
            <td>{{personel.nomDir}}</td>
            <td>{{personel.nomSer}}</td>

        </tr>
    </tbody>
</table>
<button (click)="goBack()" type="button" class="btn btn-outline-primary">Go Back</button>